body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to bottom, #ffe1e1, #ffd1f1);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.portada {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, #ffdee9, #b5fffc);
  padding: 40px;
}

.portada h1 {
  font-size: 2.5em;
  color: #b30059;
  margin-bottom: 20px;
}

.portada p {
  font-size: 1.2em;
  color: #4b004b;
}

.boton {
  margin-top: 30px;
  background-color: #ff69b4;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.album {
  padding: 60px 20px;
}

.seccion {
  margin-bottom: 60px;
  padding: 0 20px;
}

.seccion h2 {
  text-align: center;
  color: #b30059;
  font-size: 2em;
  margin-bottom: 30px;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.foto {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  object-fit: cover;
}

.foto:hover {
  transform: scale(1.03);
}